.container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding: 3px;
    max-width: 100%;
    border-radius: 30px;
    position: relative;
    vertical-align: middle;

}

.menuButton{
    font-size: 30px;
    background: white;
    border-radius: 5px;
    border: none;
    width: 40px;
    max-width: 40px;
    vertical-align:middle;
}




.title {

    box-shadow: rgb(232, 232, 232) 0px -2px 0px 0px inset;

    border: none;
    font-size: 18px;
    height: 40px;
    padding: 6px;
    border-radius: 20px;
    flex-grow: 2;
    width: 80%;
}

.checkbox {
    margin: auto;
    max-height: 18px;
}

.SubTimer {
    display: block;
}

.MenuSubTimer {
    display: none;
}

@media (max-width: 600px) {
    .SubTimer {
        display: none;
    }
    .MenuSubTimer {
        display: block;
    }
}