<div class="container" [@remove]=stateRemove *ngIf="task">
  <mat-checkbox  class="checkbox" color="warn" name="done" (click)="sendRemoveRequest()">
  </mat-checkbox>
  <input (change)="sendEditRequest()" [(ngModel)]="task.title" class="title" type="text">
  <!--<div class="td_icon">
        <button mat-icon-button (click)="HideShowElement(commentWindow);">
      <mat-icon>comment</mat-icon>
    </button>
    </div>
    <div #commentWindow style="display: none">
        <app-comment [(object)]="task">
            <button (click)="HideShowElement(commentWindow)" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
        </app-comment>
    </div>-->
  <app-timer-widget class="SubTimer" [taskID]="task.id" [taskTitle]="task.title"></app-timer-widget>
  <div >
    <button class="menuButton" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="icon">more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button [owlDateTimeTrigger]="dtMenu" mat-menu-item> <i class="icon-calendar"></i>
      <span>{{ GetDate(task.date) }}</span>
      <input #date type="owlDateTime" [owlDateTime]="dtMenu" (ngModelChange)="ChangeTaskDate(task.date)"
        [(value)]="task.date" [(ngModel)]="task.date" style="visibility: hidden;">
      <owl-date-time #dtMenu></owl-date-time>
    </button>

    <button [owlDateTimeTrigger]="dtMenuTimer" mat-menu-item> <i class="icon-calendar"></i>
      <span>{{ task_time_string }}</span>
      <input #date [owlDateTime]="dtMenuTimer" (ngModelChange)="TimeChange(task_time)"
        [(value)]="task_time" [(ngModel)]="task_time" style="visibility: hidden;">
      <owl-date-time [pickerType]="'timer'" #dtMenuTimer></owl-date-time>
    </button>
    
    <app-timer-widget class="MenuSubTimer" [taskID]="task.id" [taskTitle]="task.title"></app-timer-widget>


    <button mat-menu-item (click)="sendRemoveRequest()">
      <mat-icon>delete</mat-icon>
      <span>Delete Task</span>
    </button>
  </mat-menu>
</div>