<main>
  <div *ngFor="let task of TM.tasks;let index=index" class="task">
    <h3 *ngIf="CanDisplayDate(task)">{{ GetDate(task.date) }}</h3>
    <app-task [task]="task" (taskEdit)="TM.Edit($event)" (taskRemove)=TM.Remove($event)></app-task>
  </div>

  <div #addTaskForm class="addTask">
    <table>
      <tr>
        <td class="ADDtd_title">
          <input #title placeholder="Title" id="title" type="text" id="title">
        </td>
        <td class="ADDtd_project">
            <mat-select [value]="0" #project >
                <mat-option [value]="0">NONE</mat-option>

                <mat-option *ngFor="let project of projects" [value]="project.id">
                  {{project.title}}
                </mat-option>
              </mat-select>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="ADDtd_date">
          <input [owlDateTimeTrigger]="dtAdd" [ngModel]="TodayDate" #dateFieldAdd [owlDateTime]="dtAdd">
          <owl-date-time #dtAdd></owl-date-time>
        </td>
        <td class="ADDtd_emptySpace"></td>
        <td>   
          <button id="btnCancelAddTask" (click)="ResetInput(title,dateFieldAdd,addTaskForm,showForm)">
            Cancel
         </button></td>
        <td class="ADDtd_SubmitButton">

          <button id="btnSubmitAddTask" (click)="AddTaskButtonClick(title,dateFieldAdd,project,addTaskForm,showForm)">
            Add Task
          </button>
        </td>
      </tr>
    </table>
  </div>


  <button #showForm (click)=" HideShowElement(showForm); HideShowElement(addTaskForm)" class="AddTaskButton">+ Add Task</button>
</main>