<main>
  <div *ngFor="let task of TM.tasks;let index=index" class="task">
    <h3 *ngIf="CanDisplayDate(task)">{{ GetDate(task.date) }}</h3>
    <table>
      <tr>
        <td class="td_done">
          <div style="margin-bottom:-9px">
            <mat-checkbox [(ngModel)]="task.status" class="checkbox" color="warn" name="done" (click)="RemoveTask(task)"></mat-checkbox>
          </div>
        </td>
        <td class="td_title">
          <input (change)="TaskChange(task)" [(ngModel)]="task.title" class="titleIN" type="text">
        </td>
        <td class="td_icon">
          <button mat-icon-button (click)="HideShowElement(commentWindow); LoadComments(task)">
            <mat-icon>comment</mat-icon>
          </button>
        </td>
        <!-- Window to adding comments about task TODO add to comment photos-->
        <div #commentWindow class="commentWindow">
            <button class="CommentWindowCloseBtn" #closeBtn (click)="HideShowElement(commentWindow)" mat-icon-button>
                <mat-icon>close</mat-icon>
              </button>
          <table>
            <tr>
              <td class="td_done">
                <div style="margin-bottom:-9px">
                  <mat-checkbox [(ngModel)]="task.status" class="checkbox" color="warn" name="done" (click)="RemoveTask(task)"></mat-checkbox>
                </div>
              </td>
              <td class="td_title">
                <input (change)="TaskChange(task)" [(ngModel)]="task.title" class="titleIN titleInComment" type="text">
              </td>


              <td class="td_icon">
                <button mat-icon-button>
                  <mat-icon>play_arrow</mat-icon>
                </button>
              </td>
              <td class="td_icon">
                <button mat-icon-button>
                  <mat-icon>stop</mat-icon>
                </button>
              </td>
              <td class="td_icon">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item [owlDateTimeTrigger]="dtCommentMenu"> <i class="icon-calendar"></i>
                    <span>{{ GetDate(task.date) }}</span>
                    <input #dateField [owlDateTime]="dtCommentMenu" (change)="DateChange(task,dateField)" [ngModel]="task.date"
                      style="visibility: hidden;">
                    <owl-date-time #dtCommentMenu></owl-date-time>
                  </button>
                  <!--<tr>
                              <input [(ngModel)]="task.queue" [ngModelOptions]="{updateOn: 'blur'}" class="queue d-block d-md-none"
                                (focusout)="QuePosiotnChange(task)">
                            </tr>-->
                  <button mat-menu-item (click)="RemoveTask(task)">
                    <i class="icon-trash-empty"></i>
                    <span>Delete Task</span>
                  </button>
                </mat-menu>
                <!--<div class="icon icon-menu"></div>
                <div #menu (focusout)="MenuFocusOut(menu)" class="menu">
                  <table>
                    <tr>
                        <input [owlDateTimeTrigger]="dtMenu" #dateFieldInMenu (change)="DateChange(task,dateFieldInMenu)" [owlDateTime]="dtMenu">
                        <owl-date-time #dtMenu></owl-date-time>
                    </tr>
                    <tr>
                      <input [(ngModel)]="task.queue" [ngModelOptions]="{updateOn: 'blur'}" class="queue d-block d-md-none"
                        (focusout)="QuePosiotnChange(task)">
                    </tr>
                    <tr>
                      <div (click)="RemoveTask(task)">Delete Task <i class="icon-trash-empty"></i>
                      </div>
                    </tr>
                  </table>
                </div>-->
              </td>
            </tr>
          </table>
          <ul>
            <li *ngFor="let comment of commentManager.commentsObserwable$ | async as comments; let index = index">
              <input class="commentIN" [(ngModel)]="comment.value"  id="{{index}}" (focusout)="CommentChange(comment , task)">
              <div class="icon-trash-empty trashIcon" (click)="RemoveComment(comment); LoadComments(task)"></div>
            </li>
            <li>

              <input #com id="ADDComment" type="text">
              <button mat-icon-button id="AddCommentBtn" (click)="AddComment(com,task); ResteCommentInput(com)">
                <mat-icon>add</mat-icon>
                Add
              </button>
            </li>
          </ul>

        </div>
        <!--                               
        <td class="td_date">
          <input [owlDateTimeTrigger]="dt" [ngModel]="task.date" #dateField (change)="DateChange(task,dateField)"
            [owlDateTime]="dt">
          <owl-date-time #dt></owl-date-time>
        </td>
        <td class="td_queue"><input [(ngModel)]="task.queue" [ngModelOptions]="{updateOn: 'blur'}" class="queueIN d-none d-md-block"
            (focusout)="QuePosiotnChange(task)"></td>
        <td class="td_project">
          <mat-form-field class='projectIN'>
              <mat-select matNativeControl [(ngModel)]="task.project">
                <mat-option value='0'>NONE</mat-option>
                <mat-option *ngFor="let project of projects" [value]="project">{{project}}</mat-option>
              </mat-select>
            </mat-form-field>
        </td>-->
        <td class="td_icon">
          <button mat-icon-button>
            <mat-icon>play_arrow</mat-icon>
          </button>
        </td>
        <td class="td_icon">
          <button mat-icon-button>
            <mat-icon>stop</mat-icon>
          </button>
        </td>
        <td class="td_icon">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [owlDateTimeTrigger]="dtMenu"> <i class="icon-calendar"></i>
              <span>{{ GetDate(task.date) }}</span>
              <input #dateField [owlDateTime]="dtMenu" (change)="DateChange(task,dateField)" [ngModel]="task.date"
                style="visibility: hidden;">
              <owl-date-time #dtMenu></owl-date-time>
            </button>
            <!--<tr>
                        <input [(ngModel)]="task.queue" [ngModelOptions]="{updateOn: 'blur'}" class="queue d-block d-md-none"
                          (focusout)="QuePosiotnChange(task)">
                      </tr>-->
            <button mat-menu-item (click)="RemoveTask(task)">
              <i class="icon-trash-empty"></i>
              <span>Delete Task</span>
            </button>
          </mat-menu>
          <!--<div class="icon icon-menu"></div>
          <div #menu (focusout)="MenuFocusOut(menu)" class="menu">
            <table>
              <tr>
                  <input [owlDateTimeTrigger]="dtMenu" #dateFieldInMenu (change)="DateChange(task,dateFieldInMenu)" [owlDateTime]="dtMenu">
                  <owl-date-time #dtMenu></owl-date-time>
              </tr>
              <tr>
                <input [(ngModel)]="task.queue" [ngModelOptions]="{updateOn: 'blur'}" class="queue d-block d-md-none"
                  (focusout)="QuePosiotnChange(task)">
              </tr>
              <tr>
                <div (click)="RemoveTask(task)">Delete Task <i class="icon-trash-empty"></i>
                </div>
              </tr>
            </table>
          </div>-->
        </td>
      </tr>
    </table>
  </div>

  <div #addTaskForm class="addTask">
    <table>
      <tr>
        <td class="ADDtd_title">
          <input #title placeholder="Title" id="title" type="text" id="title">
        </td>
        <td class="ADDtd_project">
            <mat-select [value]="0" #project >
                <mat-option [value]="0">NONE</mat-option>

                <mat-option *ngFor="let project of projects" [value]="project.id">
                  {{project.title}}
                </mat-option>
              </mat-select>
        </td>
      </tr>
    </table>
    <table>
      <tr>

        <td class="ADDtd_date">
          <input [owlDateTimeTrigger]="dtAdd" [ngModel]="TodayDate" #dateFieldAdd [owlDateTime]="dtAdd">
          <owl-date-time #dtAdd></owl-date-time>
        </td>
        <td class="ADDtd_emptySpace"></td>
        <td>   
          <button id="btnCancelAddTask" (click)="ResetInput(title,dateFieldAdd,addTaskForm,showForm)">
            Cancel
         </button></td>
        <td class="ADDtd_SubmitButton">

          <button id="btnSubmitAddTask" (click)="AddTaskButtonClick(title,dateFieldAdd,project,addTaskForm,showForm)">
            Add Task
          </button>
        </td>
      </tr>
    </table>
  </div>


  <button #showForm (click)=" HideShowElement(showForm); HideShowElement(addTaskForm)" class="AddTaskButton">+ Add Task</button>
</main>