@import url("../fontello.css");
@import url("../UploadInput.css");
@import url("./Comments.css");
@import url("../date.css");
@import url("./todo-table.css");
@import url("./taskStyle.css");
@import url("./menu.css");




.header
{
  text-align: center;
  width: 100%;
}
table {
  width: 100%;
  margin-bottom: 5px;
}
.btnRemove {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}

.OptionsForm {
  display: none;
  max-width: 1000px;
  width: 100vw;
  height: 70px;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
