body {}

header {
    margin: auto;
    padding: 50px 0px 50px 0;
    text-align: center;
    font-size: 23px;
    box-sizing: border-box;
}

.content {
    margin: auto;
    text-align: center;
}

.titleBarWithArrowContainer>.content {
    width: 160px;
}

.calendarName>.content {
    width: 260px;
}

.month {
    width: 180px;
}

.calendarName {
    width: 280px;
}

.titleBarWithArrowContainer {
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 16px;
    height: 23px;
    margin-bottom: 20px;
}

tr, table {
    width: 100%;
}

th {
    text-transform: uppercase;
    width: 25px;
    margin: 15px;
    font-weight: 400;
}

.eventList {
    list-style-type: none;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.addButton {
    border: none;
    height: 65px;
    width: 65px;
    vertical-align: middle;
    text-align: center;
    line-height: 65px;
    border-radius: 32.5px;
    font-size: 48px;
    color: #7B7B7B;
    display: block;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 109px;
}

.addEvent {
    margin-top: 71px;
}

.addEvent>.content {
    margin-top: 71px;
}
.addBtnForm > .submitButton
{
    font-size: 30px !important;
    height: 30px;
margin: 7px 0 7px 0;
}
.addBtnForm>.TitleAndTimeInput>.title {
    font-size: 18px;
    height: 40px;
    padding: 6px;
    flex-grow: 2;
    width: 70%;
    box-sizing: border-box;
    border: 0px;
    border-radius: 20px;
}

.addBtnForm {
    width: 100%;
    display: flex;
    max-width: 700px;
    margin:auto;
}

.addBtnForm>.TitleAndTimeInput>.time {
    width: 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border:none;
    border-left: 2px solid #ccc;

}

.addBtnForm>.TitleAndTimeInput {
    border: 2px solid #ccc;
    border-radius: 20px;
    display: flex;
    width: 90%;
}

@media (min-width: 600px) {
    .titleBarWithArrowContainer {
        font-size: 23px;
    }
    .month>.content {
        width: 260px;
    }
    .calendarName>.content {
        width: 360px;
    }
    .month {
        width: 280px;
    }
    .calendarName {
        width: 380px;
    }
}