<header *ngIf="calendarService.objects !== undefinded">
    <div class="titleBarWithArrowContainer calendarName" *ngIf="SelectedCalendarName !== ''">
        <div class="arrow" (click)="GetForwardCalendar()"><i class="material-icons" style="font-size: 33px">
                keyboard_arrow_left
            </i></div>
        <h3 class="content">{{SelectedCalendarName}}</h3>
        <div class="arrow" (click)="GetNextCalendar()"><i class="material-icons" style="font-size: 33px">
                keyboard_arrow_right
            </i></div>
    </div>
</header>
<!-- new menu component-->

<div class="container">

    <div class="titleBarWithArrowContainer month">

        <div class="arrow forwardMonth" (click)="ChangeMonth(DisplayMonth-1)"><i class="material-icons">
                keyboard_arrow_left
            </i></div>
        <div class="content">{{DateString}}</div>
        <div class="arrow nextMonth" (click)="ChangeMonth(DisplayMonth+1)"><i class="material-icons">
                keyboard_arrow_right
            </i></div>
    </div>

    <table>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
        <tr *ngFor="let week of month ">
            <td *ngFor="let day of week ">
                <app-day #dayObject (click)="SelectDay(dayObject) " [event]="day?.event " [date]="day.date "></app-day>
            </td>
        </tr>
    </table>

    <ul class="eventList ">
        <li *ngFor="let event of eventService.objects " class="event "> <app-event [event]= "event" ></app-event></li>
    </ul>
    <div *ngIf="selectedDay != null">
        <div class="addEvent " ng-init="addFromShow=false">
            <div *ngIf="!addFromShow" class="addBtnForm">
                <div *ngIf="eventService.objects == []" class="content ">No events for this month</div>
                <button (click)="addFromShow = true" class="addButton ">+</button>
            </div>
            <div *ngIf="addFromShow" class="addBtnForm">
                <div class="TitleAndTimeInput">
                    <input placeholder="Title" class="title" #title type="text" />
                    <input class="time" #time type="time" />
                </div>
                 <!-- submitButton class have set every property with important --> 
                 <i class="submitButton material-icons" 
                  (click)="AddEvent(title,time); ResetInput(time); ResetInput(title); addFromShow=false">
                    send
                </i>
            </div>
        </div>
    </div>
    <div *ngIf="selectedDay == null">
        Select Day!
    </div>



</div>