.container {
    display: flex;
    box-shadow: rgb(232, 232, 232) 0px -1px 0px 0px inset;

}

.title {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    height: auto;
}
.time{
    margin-left: auto;
}
input {
    width: 100px;
    border: none;
    cursor: pointer;
    background: transparent;
}
input:active {
    border: none;
    outline: none;

}
input:focus {
    border: none;
    outline: none;
}