<div class="container" *ngIf="subTimer">
  <div class="title">{{ subTimer.taskTitle }}</div>
  <div class="time">
    <input [owlDateTime]="StartDate" [max]="stop" [owlDateTimeTrigger]="StartDate" [(ngModel)]="start"
      (ngModelChange)="StartDataChange()">
    <owl-date-time #StartDate></owl-date-time>

    <input [min]="start" [owlDateTime]="StopDate" [owlDateTimeTrigger]="StopDate" [(ngModel)]="stop"
      (ngModelChange)="StopDataChange()">
    <owl-date-time #StopDate></owl-date-time>
  </div>
</div>