<div (click)="OpenPopUpMenu(menu)">

    <div class="content">{{event.title}}</div>

    <div class="date">{{event.time}}</div>

</div>

<div #menu class="popup">

    <div class="header">
        <div>{{event.title}}</div>
        <div> <i (click)="ClosePopUpMenu(menu)" class="material-icons">
                close
            </i></div>
    </div>
    <div class="dateTime">
        <input #date id="EventDate" [owlDateTime]="EventDate" [(value)]="event.date" [owlDateTimeTrigger]="EventDate"
            [(ngModel)]="event.date">
        <owl-date-time #EventDate></owl-date-time>
    </div>

    <ul *ngIf="event.reminders" id="remindersTime">
        <li *ngFor="let reminder of event.reminders">
            <input #timeValue [value]="MilisecConverter(reminder.time_before_in_milisec)" (change)="UpdateNotyfication(timeValue.value,timeUnit.value,reminder)" type="number" min="0" max="59">
            <select (change)="UpdateNotyfication(timeValue.value,timeUnit.value,reminder)" #timeUnit>
                <option value="60000" [selected]="reminder.time_before_in_milisec / 60000 < 60">Minut</option>
                <option value="3600000" [selected]="reminder.time_before_in_milisec / 60000 >= 60">Godzin</option>
                <option value="86400000" [selected]="reminder.time_before_in_milisec / 3600000 >= 24">Dni</option>
            </select>
            <i (click)="RemoveEventNotyfication(reminder)" class="material-icons">
                    delete
                </i>
        </li>
        <li (click)="addEventNotyfication()" id="AddButtonList">Dodaj Przypomnienie</li>


    </ul>

    <div class="optinsButtons">

        <i class="material-icons">
            delete
        </i>
        <i class="material-icons">
            email
        </i>
    </div>
</div>
<div class="overlay" (click)="ClosePopUpMenu(menu)" style="clear:both"></div>