@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
div.date::before {
    border: 5px solid #ccc;
    max-height: 10px !important;
    width: 10px !important;
    border-radius: 100%;
    content: '';
    display: inline-block;
    margin-right: 5px;
}

ul#remindersTime {
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
}
ul#remindersTime li:nth-child(6){
    display: none;
}
ul#remindersTime>li>i {
    font-size: 26px;
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-flex;
    vertical-align: middle;
}
ul#remindersTime>li> *{
    border: solid 1px #ccc;
    border-radius: 4px;
    background: white;
    height: 30px;
}

.date {
    font-size: small;
    margin-bottom: 10px;
}

.reminderMenu {
    background: whitesmoke;
}

@media (min-width:800px) {
    .popup {
        border: 2px solid black;
        position: fixed;
        width: 80%;
        max-width: 600px;
        height: 400px;
        box-sizing: border-box;
        padding: 25px;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgb(245, 245, 245);
    }
    .popup.active {
        transform: translate(-50%, -50%) scale(1);
    }
    .popup>.header {
        font-size: 25px;
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
    }
    .popup>.header i {
        cursor: pointer;
    }
    .popup>.dateTime {
        font-size: 15px;
        padding: 5px 25px;
    }
    .popup>#remindersTime {
        font-size: 15px;
        padding: 0px 25px;
    }
    .popup>.optinsButtons {
        float: right;
        font-size: 25px;
        padding-right: 15px;
        bottom: 30px;
        right: 30px;
        position: absolute;
    }
    .popup>.optinsButtons>i {
        padding: 3px;
        cursor: pointer;
    }
    .overlay.active {
        transform: scale(1);
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(0);
    }
}

.EventDate {
    background: whitesmoke;
    border: none;
    width: 100%;
}

@media (max-width:799px) {
    .popup {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 25px;
        z-index: 2;
        transform: scale(0);
        background-color: whitesmoke;
    }
    .popup.active {
        transform: scale(1);
    }
    .popup>.header>div {
        top: 60px;
        width: 100%;
        position: relative;
    }
    .popup>.header {
        font-size: 45px;
        padding: 5px 15px;
        height: 150px;
    }
    .popup>.header i {
        cursor: pointer;
        top: 25px;
        right: 25px;
        position: fixed;
    }
    .popup>.dateTime {
        font-size: 15px;
        padding: 40px 25px 5px 25px;
    }
    .popup>.remindersTime {
        font-size: 15px;
        padding: 0px 25px;
    }
    .popup>.optinsButtons {
        display: flex;
        justify-content: center;
        font-size: 25px;
        padding-right: 15px;
        position: absolute;
        bottom: 25px;
        width: calc(100% - 50px);
    }
    .popup>.optinsButtons>i {
        padding: 3px;
        cursor: pointer;
    }
    .overlay.active {
        transform: scale(1);
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(0);
    }
}